@import '_variables';

.app {
  align-items: center;
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.calculator {
  background: $black;
  height: $height;
  width: $width;
}
